prisma
python-dotenv
httpx
tenacity
trafilatura
sentry-sdk
fastapi
uvicorn
sqlalchemy
psycopg2-binary
lxml_html_clean
beautifulsoup4
sentence-transformers
transformers
scikit-learn
torch
numpy
keybert
